.jumbotron {
	background-color: green;
	color: white; 
}
.btn {
	
}

 footer {
	padding: 10px 10px 0 10px;
	background-color: green;
	margin-bottom: 0px
	margin-top: 10px;
}

.card-cualidad {
	flex: 1 150px;
	padding: 2px 5px 2px 5px
}

.btn-reserva {
	width: 100%;
}